*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  width: 1120px;
  margin: 0 auto;
  background-color: blueviolet;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.item {
  background-color: aqua;
  width: 256px;
  height: 256px;
  position: relative;
  animation-name: scale;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.item:hover {
transform: skew(-10deg);
}

.item::after {
    content: '';
    border-width: 5px;
    border-color: green;
    border-style: dotted;
    position: absolute;
    width: 236px;
    height: 236px;
    display: block;
    top: 10px;
    left: 10px;
    animation: motion 300ms infinite linear;
}

.item p {
  margin: 0;
  background-color: brown;
  color: aliceblue;
  /* transform: rotate(0deg); */
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  overflow: auto;
  transition: color 1000ms ease-in-out, transform 1000ms linear, opacity 1000ms linear ;
z-index: 5;
opacity: 1;
}

.item p:hover {
  color: blue;
  transform: translate(-50%, -50%) rotate(360deg);
  opacity: 0.9;
}

@keyframes scale {
    0% {
        transform: scale(0.25);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes motion {
    0% {
       border-style: dotted;
    }

    100% {
        border-style: dashed;
    }
}