.container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.contact-form {
  width: 500px;
  min-height: 200px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 10px 10px 0 #ccc;
  background-color: aliceblue;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  display: block;
  margin-bottom: 20px;
  border: 1px solid #303030;
  padding: 0 15px 0 40px;
  outline: none;
  margin-top: 6px;
  background-color: beige;
}

.contact-form-input:focus {
  border: 2px solid green;
  color: green;
}

.contact-form-fieldset {
  margin-bottom: 20px;
  background-color: beige;
}

.contact-form-message {
  width: 100%;
  resize: none;
  padding: 15px;
  margin-bottom: 20px;
  background-color: beige;
  outline: none;
}

.contact-form-message:focus {
  border: 2px solid green;
  color: green;
}

.contact-form-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 40px;
  left: 10px;
}

.contact-form-label {
  position: relative;
}

.contact-form-input:focus + .contact-form-icon {
  fill: green;
}

.contact-form-label:focus-within {
  color: green;
}

.contact-btn-wrapper {
  display: flex;
  justify-content: center;
}

.contact-btn-wrapper button {
  padding: 10px 20px;
  background-color: beige;
  border: 2px solid green;
}

button[type="submit"] {
  margin-right: 20px;
}

.contact-btn-wrapper button:hover,
.contact-btn-wrapper button:focus {
  background-color: green;
  color: beige;
}

h2 {
  color: green;
  text-align: center;
  margin-top: 0;
}
