*,
::after,
::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
  list-style-type: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

li {
  height: 404px;
  background-color: tomato;
  border: 1px solid teal;
}

.grid1 {
  background-color: aqua;
  height: 838px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid2 {
  background-color: aqua;
  height: 838px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
}
