:root {
  --accent-color: #ff6c00;
  --light-color: #ffffff;
  --main-grey: #303030;
  --secondary-grey: #9da4bd;
  --light-grey: rgba(157, 164, 189, 0.6);
  --bgr-grey: #f7f7f7;
  --text-grey: #555555;
  --transition: 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 20px;
  transition: background-color var(--transition);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: var(--main-font);
  background-color: #9da4bd;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--light-color);
  margin-left: auto;
  margin-right: 40px;
}

.header__button {
  color: var(--light-color);
}

.section {
  padding: 130px 0;
}

.section__label {
  font-size: 11px;
  line-height: 1.36;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.section__label::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
}

.section__after-title {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
}

.hero {
  padding: 0;
}

.hero__container {
  display: flex;
}

.hero__inner {
  padding: 272px 48px 34px 96px;
  flex-grow: 1;
  background-color: gray;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/slider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero__inner::after {
  content: "";
  position: absolute;
  background-image: url("../images/navigation.svg");
  display: block;
  width: 18px;
  height: 30px;
  top: 50%;
  right: 52px;
  transform: translateY(-50%);
}

.hero__label {
  color: var(--light-grey);
  margin-bottom: 20px;
}

.hero__label::before {
  background-color: var(--light-grey);
}

.hero__title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--light-color);
  margin-bottom: 20px;
}

.hero__after-title {
  color: var(--secondary-grey);
  max-width: 400px;
  margin-bottom: 142px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid tomato;
}

.logo {
  margin-right: 70px;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--light-color);
  padding: 48px 0;
  display: block;
  transition: color var(--transition);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.button:hover, .button:focus {
  background-color: var(--accent-color);
}

.sidebar {
  display: flex;
  align-items: flex-end;
  padding-bottom: 40px;
}

.sidebar__list {
  width: 94px;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  position: relative;
  bottom: 140px;
  padding-bottom: 30px;
}

.sidebar__list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--main-grey);
  display: block;
  position: absolute;
  margin-right: 40px;
  right: 100%;
}

.socials__item:not(:last-child) {
  margin-right: 40px;
}

.socials__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-grey);
  transition: color var(--transition);
}

.socials__link:hover, .socials__link:focus {
  color: var(--accent-color);
}

.controllers {
  display: flex;
  justify-content: flex-end;
}

.controllers__item {
  position: relative;
  width: 58px;
}

.controllers__item:first-child {
  margin-right: 24px;
}

.controllers__item:first-child::after {
  background-color: var(--light-grey);
}

.controllers__item:last-child {
  text-align: right;
}

.controllers__item::after {
  content: "";
  position: absolute;
  display: block;
  width: 58px;
  height: 1px;
  background-color: var(--light-color);
  bottom: 6px;
}

.controllers__button {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--light-color);
  background-color: transparent;
  border: none;
  padding: 0;
}

.disabled {
  color: var(--light-grey);
}

.controllers__button--left {
  text-align: left;
}

.controllers__button--right {
  text-align: right;
}
/*# sourceMappingURL=main.css.map */