.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.extra-text {
  display: none;
}

.read-more {
  border: 1px solid black;
  padding: 10px 30px;
}

#read-more:checked + .extra-text {
  display: block;
}

p {
  margin: 20px 0;
}

.less {
  display: none;
}

#read-more:checked ~ .read-more > .more {
  display: none;
}

#read-more:checked ~ .read-more > .less {
  display: inline;
}
