/* VARIABLES */

/* :root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #ff6c00;
  --light-color: #ffffff;
  --main-grey: #303030;
  --secondary-grey: #9da4bd;
  --light-grey: rgba(157, 164, 189, 0.6);
  --bgr-grey: #f7f7f7;
  --text-grey: #555555;
  --transition: 2500ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* RESET */

/* a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
} */

/* GENERAL STYLES */
/* body {
  font-family: var(--main-font);
  background-color: #9da4bd;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
} */

/* UTILS */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* REUSED CLASSES */

/* .title-label {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
} */

.title-label::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
}

.after-title {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

/* .button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 20px;
  transition: background-color var(--transition);
} */

/* .button:hover,
.button:focus {
  background-color: var(--accent-color);
} */

/* .container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid tomato;
} */

/* .section {
  padding: 130px 0;
} */

.section-title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

/* HEADER */

/* .header {
  position: absolute;
  width: 100%;
} */

/* .header .container {
  display: flex;
  align-items: center;
} */

/* .logo {
  margin-right: 70px;
} */

/* .nav-list {
  display: flex;
} */

/* .nav-item:not(:last-child) {
  margin-right: 40px;
} */

/* .nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--light-color);
  padding: 48px 0;
  display: block;
  transition: color var(--transition);
} */

/* .nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
} */

/* .header-contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--light-color);
  margin-left: auto;
  margin-right: 40px;
} */

/* .header .button {
  color: var(--light-color);
} */

/* HERO */

/* .hero .container {
  display: flex;
} */

/* .sidebar-wrapper {
  display: flex;
  align-items: flex-end;
  padding-bottom: 40px;
    width: 94px;
} */

/* .sidebar {
  /* width: 94px; */
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  position: relative;
  bottom: 140px;
  padding-bottom: 30px;
} */

.sidebar::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--main-grey);
  display: block;
  position: absolute;
  margin-right: 40px;
  right: 100%;
}

.sidebar li:not(:last-child) {
  margin-right: 40px;
}

.hero-inner {
  padding: 272px 48px 34px 96px;
  flex-grow: 1;
  background-color: gray;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("../images/slider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .social-link {
  color: var(--main-grey);
}

.hero .social-link:hover,
.hero .social-link:focus {
  color: var(--accent-color);
}

.hero .title-label {
  color: var(--light-grey);
  margin-bottom: 20px;
}

.hero .title-label::before {
  background-color: var(--light-grey);
}

.hero-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--light-color);
  margin-bottom: 20px;
}

.hero .after-title {
  color: var(--secondary-grey);
  max-width: 400px;
  margin-bottom: 142px;
}

.controllers {
  display: flex;
  justify-content: flex-end;
}

.hero-controller {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--light-color);
  background-color: transparent;
  border: none;
  padding: 0;
}

.hero-controller.disabled {
  color: var(--light-grey);
}

.hero-controller.left {
  text-align: left;
  margin-right: 24px;
}

.hero-controller.right {
  text-align: right;
}

/* ABOUT */

.about .container {
  display: flex;
}

.about-list {
  display: flex;
}

.about-list li + li {
  margin-left: 30px;
}

.about-inner {
  padding: 0 42px 0 64px;
}

.about .title-label {
  color: var(--main-grey);
  margin-bottom: 20px;
}

.about .title-label::before {
  background-color: var(--main-grey);
}

.about .section-title {
  color: var(--main-grey);
  margin-bottom: 20px;
}

.about-first-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-grey);
  margin-bottom: 20px;
}

.about-second-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--text-grey);
  margin-bottom: 42px;
}

/* PRICE */

.price {
  background-image: url("../images/price.png");
  background-color: #111319;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1280px;
  margin: 0 auto;
}

.price .title-label {
  color: var(--light-grey);
  margin-bottom: 20px;
}

.price .title-label::before {
  background-color: var(--secondary-grey);
}

.price .section-title {
  color: var(--light-color);
  margin-bottom: 44px;
}

.price-list {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  padding: 30px 0;
}

.price-list::before {
  content: "";
  display: block;
  width: 50%;
  height: 240px;
  position: absolute;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  z-index: -10;
  top: 0;
}

.price-list::after {
  content: "";
  display: block;
  width: 50%;
  height: 240px;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  z-index: -10;
}

.price-item {
  width: 50%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: var(--secondary-grey);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.price-item:nth-child(5) {
  order: 1;
}

.price-item:nth-child(2) {
  order: 2;
}

.price-item:nth-child(6) {
  order: 3;
}

.price-item:nth-child(3) {
  order: 4;
}

.price-item:nth-child(7) {
  order: 5;
}

.price-item:nth-child(4) {
  order: 6;
  margin-bottom: 0;
}

.price-item:nth-child(8) {
  order: 7;
  margin-bottom: 0;
}

.price-underline {
  height: 1px;
  background-color: var(--secondary-grey);
  opacity: 0.12;
  flex-grow: 1;
  margin: 0 6px;
}

.price .button {
  display: block;
  margin: 0 auto;
  color: var(--light-color);
}

/* TEAM */

.team {
  background-color: var(--bgr-grey);
}

.team-item {
  width: 370px;
}

.team-inner {
  padding: 30px 10px 0;
  text-align: center;
}

.team-name {
  margin-bottom: 8px;
}

.team-prof {
  margin-bottom: 30px;
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-item {
  width: 44px;
  height: 44px;
}

.soc-item:not(:last-child) {
  margin-right: 10px;
}

.soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  border-radius: 22px;
  transition: background-color var(--transition);
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--main-grey);
}

.soc-link:hover .soc-icon,
.soc-link:focus .soc-icon {
  fill: var(--accent-color);
}

.soc-icon {
  width: 20px;
  height: 20px;
  transition: fill var(--transition);
}

/* CONTACTS */

.address {
  font-style: normal;
}
