.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
    padding: 0 31px;
  }

    @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 39px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 15px;
  }
}