.controllers {
  display: flex;
  justify-content: flex-end;
}

.controllers__item {
  position: relative;
  width: 58px;

  &:first-child {
    margin-right: 24px;
    &::after {
      background-color: var(--light-grey);
    }
  }
  &:last-child {
    text-align: right;
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 58px;
    height: 1px;
    background-color: var(--light-color);
    bottom: 6px;
  }
}

.controllers__button {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--light-color);
  background-color: transparent;
  border: none;
  padding: 0;
}

.disabled {
  color: var(--light-grey);
}

.controllers__button--left {
  text-align: left;
}

.controllers__button--right {
  text-align: right;
}
