.section {
  padding: 130px 0;

  &__label {
    @include font(11px, 1.36, 600);
    // font-weight: 600;
    // font-size: 11px;
    // line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
}
