%button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 20px;
  transition: background-color var(--transition);
}
