:root {
//   --main-font: "Open Sans", sans-serif;
//   --secondary-font: "Raleway", sans-serif;
  --accent-color: #ff6c00;
  --light-color: #ffffff;
  --main-grey: #303030;
  --secondary-grey: #9da4bd;
  --light-grey: rgba(157, 164, 189, 0.6);
  --bgr-grey: #f7f7f7;
  --text-grey: #555555;
  --transition: 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

$main-font: "Open Sans", sans-serif;
$secondary-font: "Raleway", sans-serif;