.hero {
  padding: 0;
}

.hero__container {
  display: flex;
}

.hero__inner {
  padding: 272px 48px 34px 96px;
  flex-grow: 1;
  background-color: gray;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("../images/slider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../images/navigation.svg");
    display: block;
    width: 18px;
    height: 30px;
    top: 50%;
    right: 52px;
    transform: translateY(-50%)
}
}

.hero__label {
  color: var(--light-grey);
  margin-bottom: 20px;

  &::before {
    background-color: var(--light-grey);
  }
}

.hero__title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--light-color);
  margin-bottom: 20px;
}

.hero__after-title {
  color: var(--secondary-grey);
  max-width: 400px;
  margin-bottom: 142px;
}
